/* ------------------------------------------------------------------------------------------------

Shame
=====

1. 	If it’s a hack, it goes in shame.css.
2. 	Document all hacks fully:
  a. 	What part of the codebase does it relate to?
  b. 	Why was this needed?
  c. 	How does this fix it?
  d. 	How might you fix it properly, given more time?
3. 	Do not blame the developer; if they explained why they had to do it then their reasons are
probably (hopefully) valid.
4. 	Try and clean shame.css up when you have some down time.

via: http://csswizardry.com/2013/04/shame-css/

------------------------------------------------------------------------------------------------ */
* {
	box-sizing: border-box;
}


html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.main {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;

	&--menu {
		width: 100%;
		text-align: center;
	}
}

.gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.layer {
	transition: all 300ms ease-in-out;
	padding: 1rem;
	background: rgba(black, 0.3);
	color: white;
	margin-top: 1rem;

	&.is-target {
		transform: scale(0.9);
		* {
			pointer-events: none;
		}
	}

	&:first-child {
		margin-top: 0;
	}
	&--settings {

	}
	&--title {
		margin-top: 0.5rem;
		font-size: 0.6rem;
	}
	&--menu {
		margin-top: 0.5rem;
		width: 100%;
		text-align: center;
	}

	.is-hidden & {
		opacity: 0.1;
	}
}

	.stops {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		&--single {
			padding: 2px;
			width: 20%;
			float: left;
			background: rgba(black, 0.3);
			position: relative;
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-right: 10px;
			.colorpicker {
				display: inline-block;
			}
			input {
				padding: 5px 5px 3px 5px;
				border: 0 none;
				margin-right: 2px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
			&--color,
			&--size {

			}
			&--color {
				width: 50%;
			}
			&--size {
				width: 30%;
			}
	}

a {
	text-decoration: none;
}

.icon-add,
.icon-close {
	display: inline-block;
	&:before {
		display: block;
	}
}

.css {
	display: none;
	width: 100%;
	padding: 10px;
}

.show-clipboard {
	.css {
		display: block;
	}
}

.cp-app {
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%);
	z-index: 100;
}